.shop-container {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.products-container {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.proceed-link {
    text-decoration: none;
}

.btn-proceed {
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
}

/* mobile device responsive */
@media screen and (max-width: 576px) {
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        width: 70vw;
    }
}